*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#020617;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav a{
    text-decoration:none;
    color:#94a3b8;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */
.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:48px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    margin:15px 0;
    color:#94a3b8;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    border:2px solid #38bdf8;
    border-radius:30px;
    color:#38bdf8;
    text-decoration:none;
    transition:.3s;
}

.btn:hover{
    background:#38bdf8;
    color:#020617;
}

/* SECTIONS */
.section{
    padding:70px 10%;
    text-align:center;
}

.section h2{
    margin-bottom:20px;
    color:#38bdf8;
}

/* PROJECTS */
.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    background:#020617;
    padding:30px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:scale(1.05);
    background:#38bdf8;
    color:#020617;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#020617;
    color:#64748b;
}
.profile-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #38bdf8;
    margin-bottom:20px;
}
